extends layout

block content
  h1= title
  p I did changes to this index pug file.
  button(type='button', class='btn btn-primary') Press ME
  div(id='target') Display 
  script(type='text/javascript'),
  let client-count=0;
  function update()
  {
    client_count=client_count +1
    document.getElemenetByID('target').innerHTML=client_count
  };
  a(href='canteen')canteen
